.header {
  &-area {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #FFF;
  }
  
  &-inner {
    overflow: hidden;
    
    @include mq(pc) {
      height: remPC(100);
    }
    
    @include mq(sp) {
      height: vw(44);
    }
  }
  
  &-logo {
    float: left;
    
    @include mq(pc) {
      margin-top: remPC(20);
      margin-left: remPC(27);
      width: remPC(116.9);
    }
    
    @include mq(sp) {
      margin-top: vw(7);
      margin-left: vw(8.28);
      width: vw(58.45);
    }
  }
  
  &-menu {
    float: right;
    cursor: pointer;
    
    @include mq(pc) {
      margin-top: remPC(34.02);
      margin-right: remPC(29);
      width: remPC(33.29);
    }
    
    @include mq(sp) {
      margin-top: vw(12);
      margin-right: vw(10.72);
      width: vw(20.46);
    }
  }
  
  &-search {
    float: right;
    
    @include mq(pc) {
      margin-top: remPC(34.27);
      margin-right: remPC(33);
      position: relative;
    }
    
    @include mq(sp) {
      margin-top: vw(14.35);
      margin-right: vw(13.09);
      width: vw(19.99);
    }
    
    &-input {
      border: 1px solid #A6A6A6;
      font-family: $yugo_m;
      
      @include mq(pc) {
        border-radius: remPC(20);
        width: remPC(320);
        height: remPC(40);
        font-size: remPC(14);
        line-height: remPC(40);
        padding-left: remPC(46.17);
        padding-right: remPC(20);
      }
      
      &::placeholder {
        color: #B3B2B1;
      }
    }
    
    &:before {
      content: "";
      position: absolute;
      z-index: 100;
      background-size: 100%;
      pointer-events: none;
      
      @include mq(pc) {
        width: remPC(19.99);
        height: remPC(20);
        top: remPC(10);
        left: remPC(16.7);
        background-image: url('../../assets/img/common/search.svg');
      }
    }
  }
  
  &-slidemenu {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 9990;
    
    @include mq(pc) {
      height: remPC(349.15);
      background: rgba(139, 206, 228, 0.95);
      margin-top: remPC(100);
    }
    
    @include mq(sp) {
      height: 100%;
      background: #A1DCF0;
      padding-top: vw(44);
    }
    
    &-inner {
      position: absolute;
      top: 50%;
      
      @include mq(pc) {
        width: remPC(622.38);
        right: remPC(37.5);
        transform: translateY(-50%);
        overflow: hidden;
      }
      
      @include mq(sp) {
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    
    &-map1 {
      @include mq(pc) {
        float: left;
        width: remPC(300);
      }
      
      @include mq(sp) {
        width: vw(300);
      }
      
      &-item {
        background: #F9DC24;
        position: relative;
        
        @include mq(pc) {
          margin-bottom: remPC(20);
          height: remPC(60);
        }
        
        @include mq(sp) {
          margin-bottom: vw(10);
          height: vw(60);
        }
      }
      
      &-image {
        position: absolute;
        
        &1 {
          @include mq(pc) {
            top: remPC(20.62);
            left: remPC(21.52);
            width: remPC(22.12);
          }
          
          @include mq(sp) {
            top: vw(20.62);
            left: vw(21.52);
            width: vw(22.12);
          }
        }
        
        &2 {
          @include mq(pc) {
            top: remPC(21.66);
            left: remPC(21.41);
            width: remPC(21.71);
          }
          
          @include mq(sp) {
            top: vw(21.66);
            left: vw(21.41);
            width: vw(21.71);
          }
        }
        
        &3 {
          @include mq(pc) {
            top: remPC(19.95);
            left: remPC(21.42);
            width: remPC(21.69);
          }
          
          @include mq(sp) {
            top: vw(19.95);
            left: vw(21.42);
            width: vw(21.69);
          }
        }
      }
      
      &-text {
        font-family: $kozgo_pr6n_b;
        position: absolute;
        font-weight: 700;
        color: #3D3C3D;
        
        @include mq(pc) {
          top: remPC(21.5);
          left: remPC(58.17);
          font-size: remPC(16);
          line-height: remPC(16);
        }
        
        @include mq(sp) {
          top: vw(21.5);
          left: vw(58.17);
          font-size: vw(16);
          line-height: vw(16);
        }
      }
      
      &-arrow{
        position: absolute;
        background: #FFF;
        
        @include mq(pc) {
          width: remPC(15);
          height: remPC(15);
          border-radius: remPC(7.5);
          top: remPC(22.5);
          left: remPC(267.5);
        }
        
        @include mq(sp) {
          width: vw(15);
          height: vw(15);
          border-radius: vw(7.5);
          top: vw(22.5);
          left: vw(267.5);
        }
        
        &:before {
          content: "";
          position: absolute;
          
          @include mq(pc) {
            border-left: remPC(3.75) solid #4D4D4D;
            border-top: remPC(3.75) solid transparent;
            border-bottom: remPC(3.75) solid transparent;
            top: remPC(3.75);
            left: remPC(7.13);
          }
          
          @include mq(sp) {
            border-left: vw(3.75) solid #4D4D4D;
            border-top: vw(3.75) solid transparent;
            border-bottom: vw(3.75) solid transparent;
            top: vw(3.75);
            left: vw(7.13);
          }
        }
        
        &:after {
          content: "";
          position: absolute;
          
          @include mq(pc) {
            border-left: remPC(3.75) solid #FFF;
            border-top: remPC(3.75) solid transparent;
            border-bottom: remPC(3.75) solid transparent;
            top: remPC(3.75);
            left: remPC(5.63);
          }
          
          @include mq(sp) {
            border-left: vw(3.75) solid #FFF;
            border-top: vw(3.75) solid transparent;
            border-bottom: vw(3.75) solid transparent;
            top: vw(3.75);
            left: vw(5.63);
          }
        }
      }
    }
    
    &-map2 {
      @include mq(pc) {
        float: right;
        width: remPC(300);
      }
      
      @include mq(sp) {
        margin-top: vw(28);
      }
      
      &-line {
        overflow: hidden;
        
        @include mq(pc) {
          margin-bottom: remPC(10);
        }
        
        @include mq(sp) {
          margin-top: vw(10);
        }
      }
      
      &-item {
        font-family: $kozgo_pr6n_b;
        float: left;
        background: #FFF;
        font-weight: 700;
        position: relative;
        
        @include mq(pc) {
          width: remPC(145);
          height: remPC(44);
          font-size: remPC(14);
          line-height: remPC(44);
          margin-left: remPC(10);
        }
        
        @include mq(sp) {
          width: vw(145);
          height: vw(44);
          font-size: vw(14);
          line-height: vw(44);
          margin-left: vw(10);
        }
        
        &.large {
          @include mq(pc) {
            width: remPC(300);
            font-size: remPC(16);
          }
          
          @include mq(sp) {
            width: vw(300);
            font-size: vw(16);
          }
        }
        
        a {
          color: #3D3C3D;
          
          @include mq(pc) {
            padding-left: remPC(19.5);
          }
          
          @include mq(sp) {
            padding-left: vw(19.5);
          }
        }
        
        &:first-child {
          margin-left: 0;
        }
        
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          
          @include mq(pc) {
            border-left: remPC(3.75) solid #4D4D4D;
            border-top: remPC(3.75) solid transparent;
            border-bottom: remPC(3.75) solid transparent;
            right: remPC(25.37);
          }
          
          @include mq(sp) {
            border-left: vw(3.75) solid #4D4D4D;
            border-top: vw(3.75) solid transparent;
            border-bottom: vw(3.75) solid transparent;
            right: vw(25.37);
          }
        }
        
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          
          @include mq(pc) {
            border-left: remPC(3.75) solid #FFF;
            border-top: remPC(3.75) solid transparent;
            border-bottom: remPC(3.75) solid transparent;
            right: remPC(26.87);
          }
          
          @include mq(sp) {
            border-left: vw(3.75) solid #FFF;
            border-top: vw(3.75) solid transparent;
            border-bottom: vw(3.75) solid transparent;
            right: vw(26.87);
          }
        }
      }
    }
    
    &-sns {
      text-align: center;
      
      @include mq(pc) {
        margin-top: remPC(19.95);
      }
      
      @include mq(sp) {
        margin-top: vw(48.22);
      }
      
      &-inner {
        display: inline-block;
      }
      
      &-item {
        float: right;
        
        @include mq(pc) {
          width: remPC(26);
          margin: 0 remPC(10);
        }
        
        @include mq(sp) {
          width: vw(26);
          margin: 0 vw(5);
        }
      }
    }
  }
  
  &-line {
    position: fixed;
    z-index: 9980;
    background-repeat: repeat-x;
    background-image: url('../../assets/img/common/header-line.jpg');
    width: 100%;
    
    @include mq(pc) {
      height: remPC(10);
      background-size: remPC(15);
      margin-top: remPC(100);
    }
    
    @include mq(sp) {
      height: vw(8);
      background-size: vw(15);
      margin-top: vw(44);
    }
  }
}

#wpadminbar {
  position: fixed !important;
}